<h1>Posts</h1>

<%= render 'form' %>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.body %></td>
    <td>(<%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>)</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
